
<diV class="card">
  <div class="card-img-Wrapper">
    <img *ngIf="property.Image" class="card-img-top" src="assets/Image/{{property.Image}}">
    <img *ngIf="!property.Image" class="card-img-top" src="assets/Image/house-default.jpg">
    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
      <li class="list-inline-item btn btn-primary" routerLink="/property-detail/{{property.Id}}"><i class="far fa-edit"></i></li>
      <li class="list-inline-item btn btn-primary"><i class="far fa-address-book"></i></li>
    </ul>
  </div>
  <div class="card-body p-3">
    <h1>{{property.Name}}</h1>
    <h2>{{property.PType}}</h2>
    <h3>{{property.Price}}</h3>
  </div>
</diV>
